 details {
    display: block !important;
    padding-top: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2) !important;
    position: relative !important;
    margin: 1.5625em 0 !important;
    padding: 0 1em !important;
    border-left: .2em solid #448aff !important;
    border-radius: .1em !important;
    font-size: .9em !important;
    overflow: auto !important;
}
details:not([open]) {
    padding-bottom: 0 !important;
}
details.success {
    border-left-color: #00c853 !important;
}
details.failure {
    border-left-color: #ff5252 !important;
}
details.warning {
    border-left-color: #ff9100 !important;
}
details>summary {
    margin: 0 -1em 1em -1em;
    padding: .4em .6em .4em 3em;
    border-bottom: .05em solid rgba(68,138,255,.1);
    background-color: rgba(68,138,255,.1);
    font-weight: 700;
    display: block;
    outline: none;
    cursor: pointer;
}
details.success>summary {
    border-bottom-color: rgba(0,200,83,.1);
    background-color: rgba(0,200,83,.1);
}
details.failure>summary {
    border-bottom-color: rgba(255,82,82,.1);
    background-color: rgba(255,82,82,.1);
}
details.warning>summary {
    border-bottom-color: rgba(255,91,0,.1);
    background-color: rgba(255,91,0,.1);
}
details:not([open])>summary {
    border-bottom: 0;
    margin-bottom: 0;
}
details>summary:before,
details>summary:after {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
}
details>summary:before {
    position: absolute;
    left: 1.25em;
    color: #448aff;
    content: "\f304";
}
details.success>summary:before {
    color: #00c853;
    content: "\f00c";
}
details.failure>summary:before {
    color: #ff5252;
    content: "\f00d";
}
details.warning>summary:before {
    color: #ff9100;
    content: "\f071";
}
details>summary:after {
    position: absolute;
    right: 1.25em;
    color: rgba(0,0,0,.26);
    content: "\f078";
}
details[open]>summary:after {
    content: "\f077";
}